# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

source "Kconfig.zephyr"

config USE_FRAMES_METHOD
	bool "uses frame method"
	help
	  this will compile the c file which will contain the frames as c headers.


config USE_GIF_METHOD
	bool "uses gif method"
	help
	  this will compile the c file which uses gifs with littlefs